

{% load sekizai_tags static %}
{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static 'css/mission.css' %}" />
{% endaddtoblock %}
{% addtoblock "js" %}
{% endaddtoblock %}

<section class="mission-section">
    <div class="mission-wrapper">
        <div class="main-content-container">
            <h2 class="mission-title">
                <span class="text-normal">Chúng tôi là </span>
                <span class="text-highlight">DBHOMES!</span>
            </h2>
            <div class="mission-content">
                <div class="project-detail__paragraph">
                    
                </div>

                <div class="project-detail__paragraph">
                    <p>
                        <strong>DBHOMES</strong> luôn đặt sự hài lòng của khách hàng lên hàng đầu, cam kết mang đến trải
                        nghiệm
                        tối
                        ưu với quy trình thi công chuyên nghiệp, đảm bảo thời gian hoàn thành nhanh chóng, chất lượng
                        cao và chi
                        phí
                        hợp lý. Chúng tôi tin rằng <strong>DBHOMES</strong> xứng đáng là địa điểm đáng tin cậy để quý
                        khách đặt
                        trọn
                        niềm tin.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>