{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

<section class="about-section" style="background-image: url('{{ self.background.image.file.url }}');">
    <div class="main-content-container">
        <div class="overlay"></div>
        <div class="content" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <div class="subtitle" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                <p>Về chúng tôi</p>
            </div>
            <h1 class="title" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                Chúng tôi là <span>DBHOMES!</span>
            </h1>
            <div class="desc" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                {{ value.content|richtext }}
            </div>
            <div class="buttons" data-aos="zoom-in" data-aos-delay="600" data-aos-duration="1000">
                {% for button in self.buttons %}
                <a href="{{ button.url }}" class="btn outline">{{ button.label }}</a>
                {% endfor %}
            </div>

            <div class="stats" data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">
                {% for feature in self.feature_items %}
                <div class="stat-box" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
                    <div class="number">{{ feature.number }}</div>
                    <div class="label">{{ feature.description }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>