<section class="consultation-section">
    <div class="main-content-container">
        <div class="consultation-container">
            <div class="consultation-image">
                <img src="{{value.image.file.url}}" alt="Phòng ngủ ấm áp" />
            </div>
            <div class="consultation-form-wrapper">
                <h2 class="consultation-title">
                    Đồng hành cùng bạn <br />kiến tạo tổ ấm.
                </h2>
                <p class="consultation-description">
                    Hãy cho chúng tôi biết nhu cầu của bạn – đội ngũ DBHOMES sẽ liên hệ và tư vấn giải pháp phù hợp nhất
                    dành
                    riêng cho tổ ấm của bạn.
                </p>
                <form id="consultationForm">
                    <input type="text" placeholder="Họ và Tên *" required />
                    <input type="tel" placeholder="Số điện thoại *" required />
                    <input type="text" placeholder="Tỉnh/Thành phố *" required />
                    <input placeholder="Nội dung yêu cầu"></input>
                    <button type="submit">Gửi yêu cầu</button>
                </form>
            </div>
        </div>
    </div>
</section>