<section class="consultation-section">
    <div class="main-content-container">
        <div class="consultation-container">
            <div class="consultation-image">
                <img src="{{value.image.file.url}}" alt="Phòng ngủ ấm áp" />
            </div>
            <div class="consultation-form-wrapper">
                <h2 class="consultation-title">
                    Đồng hành cùng bạn <br />kiến tạo tổ ấm.
                </h2>
                <p class="consultation-description">
                    Hãy cho chúng tôi biết nhu cầu của bạn – đội ngũ DBHOMES sẽ liên hệ và tư vấn giải pháp phù hợp nhất
                    dành
                    riêng cho tổ ấm của bạn.
                </p>
                <form id="consultationForm" method="post" action="{% url 'contact_form_submit' %}">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Họ và Tên *" required />
                    <input type="tel" pattern="^(\+?\d{7,15})$" name="phone_number" placeholder="Số điện thoại *" required />
                    <input type="text" name="address" placeholder="Tỉnh/Thành phố *" required />
                    <input name="message" placeholder="Nội dung yêu cầu"></input>
                    <button type="submit">Gửi yêu cầu</button>
                </form>
            </div>
        </div>
    </div>
</section>
<div id="successModal" class="modal-overlay">
  <div class="modal-box">
    <img src="https://cdn-icons-png.flaticon.com/512/561/561127.png" alt="Email Sent" class="modal-icon" />
    <h2 class="modal-title">Cảm ơn bạn!</h2>
    <div class="modal-message">
      <p>Chúng tôi đã nhận được yêu cầu và sẽ liên hệ trong thời gian sớm nhất.</p>
    </div>

    <button id="closeModalBtn" class="modal-button">Đóng</button>
  </div>
</div>