{% load static %}
<section class="contact-section" style="background-image: url('{% static 'images/Section9bg.png' %}');">
    <div class="main-content-container">
        <div class="contact-section__overlay">
            <div class="contact-section__container" data-aos="fade-up" data-aos-duration="1200">
                <h2 class="contact-section__title" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1200">
                    Đồng hành cùng bạn<br>kiến tạo tổ ấm.
                </h2>
                <form id="consultationForm" method="post" class="contact-section__form" action="{% url 'contact_form_submit' %}">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Họ và Tên *" data-aos="fade-up" required data-aos-delay="200"
                        data-aos-duration="1200" />
                    <input type="tel" pattern="^(\+?\d{7,15})$" name="phone_number" placeholder="Số điện thoại *" required data-aos="fade-up" data-aos-delay="300"
                        data-aos-duration="1200" />
                    <input type="text" name="address" placeholder="Tỉnh/Thành phố *" data-aos="fade-up" required data-aos-delay="400"
                        data-aos-duration="1200" />
                    <textarea name="message" placeholder="Nội dung yêu cầu" rows="4" data-aos="fade-up" data-aos-delay="500"
                        data-aos-duration="1200"></textarea>
                    <button type="submit" data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200">Gửi yêu cầu</button>
                </form>
            </div>
        </div>
    </div>
</section>
<div id="successModal" class="modal-overlay">
  <div class="modal-box">
    <img src="https://cdn-icons-png.flaticon.com/512/561/561127.png" alt="Email Sent" class="modal-icon" />
    <h2 class="modal-title">Cảm ơn bạn!</h2>
    <div class="modal-message">
      <p>Chúng tôi đã nhận được yêu cầu và sẽ liên hệ trong thời gian sớm nhất.</p>
    </div>

    <button id="closeModalBtn" class="modal-button">Đóng</button>
  </div>
</div>