{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% load sekizai_tags static %}
{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static 'css/core-values-section.css' %}" />
{% endaddtoblock %}
{% addtoblock "js" %}
{% endaddtoblock %}

<section class="core-values-section">
    <div class="main-content-container">
        <p class="core-values-subtitle" data-aos="fade-down" data-aos-delay="100" data-aos-duration="1200">Giá trị cốt lõi</p>
        <div>
            <h2 class="core-values-title" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1800"
          data-aos-easing="ease-out-cubic">
                {{ value.block1_title_main }}
                <span class="highlight">{{ value.block1_title_highlight }}</span></span>
            </h2>
        </div>
        <div class="core-values-grid" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
            {% for item in self.core_items %}
            <div class="core-value-item" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="1000">
                <img src="{{item.icon.file.url}}" alt="{{ item.title }}" />
                <h3>{{ item.title }}</h3>
                {{ item.content|richtext }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>