{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load sekizai_tags static %}

{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static 'css/feedback.css' %}" />
{% endaddtoblock %}
{% addtoblock "js" %}
<script src="{% static 'js/swipercustom.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
{% endaddtoblock %}

<section class="feedback-news-section">
    <div class="main-content-container">
        <div class="feedback-news-section__container">

            <h2 class="feedback-news-section__heading" data-aos="fade-up" data-aos-duration="800">
                Phản hồi từ khách hàng
            </h2>

            <swiper-container class="mySwiper2" space-between="30" slides-per-view="1" centered-slides="true"
                loop="true" effect="slide" init="true" breakpoints='{"768":{"slidesPerView":3,"centeredSlides":true}}'
                part="container" autoplay="true" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" speed="1000">

                {% for feedback in self.feedbacks %}
                    <swiper-slide>
                        <div class="testimonial-card">
                            <div class="quote-container">
                                <div class="quote">“</div>
                                <div class="desc">
                                    {{ feedback.customer_feedback|richtext }}
                                </div>
                            </div>

                            <div class="author">
                                <img src="{{ feedback.customer_avatar.file.url }}" alt="{{ feedback.customer_name }}" />
                                <div>
                                    <strong>{{ feedback.customer_name }}</strong><br />
                                    <span class="project-name">{{ feedback.customer_project }}</span>
                                </div>
                            </div>
                        </div>
                    </swiper-slide>
                {% endfor %}
            </swiper-container>

            <div class="custom-pagination" data-aos="fade-up" data-aos-delay="200">
                <span class="arrow prev"><i class="fas fa-chevron-left"></i></span>
                {% for feedback in self.feedbacks %}
                    <span class="dot" data-index="{{ forloop.counter0 }}"></span>
                {% endfor %}
                <span class="arrow next"><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
    </div>
</section>