<section class="ecosystem-section">
  <div class="main-content-container">
    <div class="container">
      <h2 class="ecosystem-title" data-aos="fade-up" data-aos-duration="800">{{ value.title }}</h2>
      <div class="ecosystem-desc" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">{{ value.description }}</div>

      <div class="circle-container" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="1000">
        <div class="circle">DBPLUS</div>
        <div class="circle">DBHOMES</div>
        <div class="circle">MODULE</div>
        <div class="circle">ESMART</div>
      </div>
    </div>
  </div>
</section>