{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% load wagtailuserbar %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description|default:"Tin tức mới nhất từ DB Homes" }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/project-detail.css' %}" />
<link rel="stylesheet" href="{% static 'css/feature-project.css' %}" />
<link rel="stylesheet" href="{% static 'css/share.css' %}" />
<link href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" rel="stylesheet" />
{% endblock %}



{% block content %}
{% for block in page.hero_section %}
{% include_block block %}
{% endfor %}
<section class="project-detail">
    <div class="project-detail__container">
        <div class="project-detail__main">
            <div class="project-detail__breadcrumbs">
                {% for ancestor in page.get_ancestors %}
                {% if not ancestor.is_root %}
                <a class="breadcrumb" href="{{ ancestor.url }}">{{ ancestor.title }}</a>
                {% if not forloop.last %} › {% endif %}
                {% endif %}
                {% endfor %}
                › <a class="breadcrumb" href="/tin-tuc">Tin tức</a>
                {% if not page.is_root %}
                › <span class="highlight">{{ page.title }}</span>
                {% endif %}
            </div>

            <div class="project-detail__title">
                <h1>{{ page.title }}</h1>
            </div>
            {% for block in page.content %}
            {% include_block block %}
            {% endfor %}
        </div>
        <aside class="project-detail__sidebar">
            <h3 class="project-detail__sidebar-title">Dự án xem nhiều nhất</h3>

            <ul class="project-detail__list">
                {% for item in snippet.items.all %}
                <li class="project-detail__item">
                    <div class="project-detail__item-thumb">
                        <a href="{{ item.news.url }}"><img src="{{ item.news.intro_image.file.url }}" alt="{{item.news.title}}"></a>
                    </div>
                    <div class="project-detail__item-text">{{item.news.title}}</div>
                </li>
                {% endfor %}
            </ul>

            <div class="project-detail__share">
                <span class="project-detail__share-label">Chia sẻ</span>
                <img id="facebook-share" src="{% static 'images/fbicon.png' %}" alt="Facebook" class="project-detail__share-icon">
                <img id="copy-share" src="{% static 'images/shareicon.png' %}" alt="Share" class="project-detail__share-icon">
            </div>

        </aside>
    </div>
</section>
<section class="featured-projects">
    <div class="main-content-container">
        <div class="featured-projects__news-header" data-aos="fade-up" data-aos-duration="1000">
        <div class="featured-projects__news-title">
          <h3>Bài viết liên quan</h3>
        </div>
        <a href="/tin-tuc/" class="featured-projects__view-all desktop-only">Xem tất cả</a>
      </div>
        <div class="project-list">
            {% for post in related_posts %}
            <a href="{{post.url}}">
                <div class="project-card">
                    <div class="image-wrapper">
                        <img src="{{ post.intro_image.file.url }}" alt="{{ post.title }}">
                    </div>
                    <div class="project-info">
                        <div class="project-info__title">
                            <h3>{{ post.title }}</h3>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
          <div class="featured-projects__view-all-wrapper mobile-only" data-aos="fade-up" data-aos-delay="300"
        data-aos-duration="1000">
        <a href="/tin-tuc/" class="featured-projects__view-all">Xem tất cả</a>
      </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/glightbox.js' %}"></script>
<script src="{% static 'js/share.js' %}"></script>
{% endblock %}