{% load static sekizai_tags %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}Better Living - DB Homes{% endblock %}">
    <meta name="robots" content="index, follow">
    <meta name="author" content="DBHomes">

    <!-- Địa lý -->
    <meta name="geo.region" content="VN-SG">
    <meta name="geo.placename" content="Thủ Đức">
    <meta name="geo.position" content="10.774641;106.757440">
    <meta name="ICBM" content="10.774641, 106.757440">

    {% include "wagtailseo/meta.html" %}
    <link rel="stylesheet" href="{% static 'css/loading.css' %}" />
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />

    {% block extra_css %}{% endblock %}

    {% render_block "css" %}

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/dbhomes_favicon.svg' %}" type="image/x-icon" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    {% include "wagtailseo/struct_data.html" %}
    {% include "wagtailseo/struct_org_data.html" %}

    {% block extra_head %}{% endblock %}
</head>


<body>
    <div id="loading-screen">
        <div class="logo-container">
            <img src="{% static 'images/logo.svg' %}" alt="Logo DB Homes" loading="lazy" class="logo" />
            <div class="spinner">
            <dotlottie-player src="https://lottie.host/ce235dc3-f831-4d0d-996f-c546cc5def1e/R00sZMkscT.lottie"
                background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
            </div>
        </div>
    </div>
    {% block header %}
    {% include "streams/navbar_block.html" with navbar_menu=navbar_menu %}
    {% endblock %}
    <main>
        {% block content %}
        <!-- Nội dung riêng của từng page sẽ nằm ở đây -->
        {% endblock %}
        {% include "streams/contact_form_block.html"%}
    </main>

    {% block footer %}
    {% if footer_settings %}
    {% include "streams/footer_block.html" with footer_settings=footer_settings %}
    {% include "components/contact_buttons.html"%}

    {% endif %}
    {% endblock %}


    <!-- JS -->

    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init({
            once: false
        });
    </script>
    <script
    src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
    type="module"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="{% static 'js/loading.js' %}"></script>

    {% block extra_js %}{% endblock %}
    {% render_block "js" %}
</body>

</html>