<section class="hero-section-v2">
  <!-- Swiper container: dùng ảnh động (desktop) -->
  <swiper-container class="background-swiper" effect="fade" speed="1000" pagination="true"
    pagination-dynamic-bullets="true">
    {% for image in data.hero_images.all %}
    <swiper-slide>
      <img src="{{ image.image.file.url }}" class="bg-img" alt="Slide 3" />
    </swiper-slide>
    {% endfor %}
  </swiper-container>


  <!-- Nội dung cố định -->
  <div class="main-content-container">
    <div class="hero-content">
      <h1 class="home-title">{{ data.display_text }}</h1>
      <div class="buttons">
        {% for button in data.cta_buttons.all %}
          {% if button.page %}
        <a href="{{ button.page.url }}" class="btn {% if forloop.first %}primary{% else %}secondary{% endif %}">
          {{ button.label }}
        </a>
        
        {% elif button.link %}
        <a href="{{ button.link }}" class="btn {% if forloop.first %}primary{% else %}secondary{% endif %}">
          {{ button.label }}
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>