{% load sekizai_tags static %}
{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static 'css/hero-section-v2.css' %}" />
{% endaddtoblock %}
{% addtoblock "js" %}
{% endaddtoblock %}

<section class="hero-section-v2">
    <img src="{{ data.hero_images.first.image.file.url }}" alt="Background" class="hero-bg-img" />
    <!-- Nội dung cố định, nằm trên ảnh nền -->
    <div class="main-content-container">
        <div class="hero-content">
            {% for ancestor in page.get_ancestors %}
                {% if not ancestor.is_root %}
                    <a class="breadcrumb" href="{{ ancestor.url }}">{{ ancestor.title }}</a>
                    {% if not forloop.last %} › {% endif %}
                {% endif %}
            {% endfor %}
            {% if not page.is_root %}
                › <span class="highlight">{{ page.title }}</span>
            {% endif %}
            <p class="hero-subtitle">{{ data.display_text }}</p>
        </div>
    </div>
</section>