<section class="hero-section-v2">
    <img src="{{ data.hero_images.first.image.file.url }}" alt="Background" class="hero-bg-img" />
    <!-- Nội dung cố định, nằm trên ảnh nền -->
    <div class="main-content-container">
        <div class="hero-content">
            <h1>
                <span class="breadcrumb">Trang chủ</span>
                <span class="separator"> &gt; </span>
                <span class="highlight">Dự án</span>
            </h1>
            <p class="hero-subtitle">{{ data.display_text }}</p>
        </div>
    </div>
</section>