{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}" />
{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
{% for block in page.body %}
{% include_block block %}
{% endfor %}
<section class="projects-section" id="projects-section">
    <div class="main-content-container">
        <div class="projects-section__filter-bar">
            <span class="projects-section__filter-label">Bộ lọc</span>
            <div class="dropdown-wrapper">
                <div class="dropdown">
                    <button class="filter-button dropdown-toggle">
                        <img src="{% static 'images/homeicon.png' %}" alt="icon home" class="filter-icon" />
                        Quy mô
                    </button>
                    <ul class="dropdown-menu">
                        {% for scale in project_scales %}

                        <a class="filter-items"
                            href="{% if current_design_style %}{{ page.url }}{{ current_design_style.slug }}/{{ scale.slug }}#projects-section{% else %}{{ page.url }}{{ scale.slug }}#projects-section{% endif %}">

                            <li>{{ scale.name }}</li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>

                <div class="dropdown">
                    <button class="filter-button dropdown-toggle">
                        <img src="{% static 'images/brushicon.png' %}" alt="icon style" class="filter-icon" />
                        Phong cách
                    </button>
                    <ul class="dropdown-menu">
                        {% for style in desgin_styles %}

                        <a class="filter-items"
                            href="{% if current_project_scale %}{{ page.url }}{{ style.slug }}/{{current_project_scale.slug}}#projects-section{% else %}{{ page.url }}{{ style.slug }}#projects-section{% endif %}">
                            <li>{{ style.name }}</li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>


            <div id="filter-tags-container" class="filter-tags-wrapper">
                {% if current_design_style %}
                <a href="{% if current_project_scale %}{{ page.url }}{{ current_project_scale.slug }}#projects-section{% else %}{{ page.url }}#projects-section{% endif %}"
                    class="filter-tag">
                    x {{ current_design_style.name }}
                </a>
                {% endif %}
                {% if current_project_scale %}
                <a href="{% if current_design_style %}{{ page.url }}{{ current_design_style.slug }}#projects-section{% else %}{{ page.url }}#projects-section{% endif %}"
                    class="filter-tag">
                    x {{ current_project_scale.name }}
                </a>
                {% endif %}
            </div>

            <!-- <div class="projects-section__search-wrapper">
                <input type="text" class="projects-section__search-input" placeholder="Tìm kiếm..." />
                <img src="{% static 'images/iconsearch.png' %}" alt="search icon" class="search-icon" />
            </div> -->
            <form method="get" action="" class="projects-section__search-wrapper">
                <input 
                    type="text" 
                    name="srch" 
                    class="projects-section__search-input" 
                    placeholder="Tìm kiếm..." 
                    value="{{ request.GET.srch|default_if_none:'' }}"
                />
                <button type="submit" style="background: none; border: none; padding: 0;">
                    <img src="{% static 'images/iconsearch.png' %}" alt="search icon" class="search-icon" />
                </button>
            </form>
        </div>

        <div class="projects-section__grid">
            {% for project in projects %}
            
            <div class="projects-section__item">
                <div class="projects-section__image-wrapper">
                    <a href="{{ project.url }}"><img src="{{ project.intro_image.file.url }}" alt="{{ project.title }}" /></a>
                </div>
                <a href="{{ project.url }}"><h3 class="projects-section__title">{{ project.title }}</h3></a>
                <div class="projects-section__desc">
                    <p>{{ project.design_style.name }} | {{ project.project_scale.name }} | {{ project.project_acreage}} m²</p>
                </div>
                <a href="{{ project.url }}" class="projects-section__link">Xem chi tiết</a>
            </div>
            {% endfor %}
        </div>

        <div class="projects-section__pagination">
            {% if projects.has_previous %}
            {% if current_design_style %}
            <a href="{% pageurl page %}{{ current_design_style.slug }}/page/{{ projects.previous_page_number }}/#projects-section"
                class="projects-section__arrow">&#60;</a>
            {% elif current_project_scale %}
            <a href="{% pageurl page %}{{ current_project_scale.slug }}/page/{{ projects.previous_page_number }}/#projects-section"
                class="projects-section__arrow">&#60;</a>
            {% else %}
            <a href="{% pageurl page %}page/{{ projects.previous_page_number }}/#projects-section"
                class="projects-section__arrow">&#60;</a>
            {% endif %}
            {% endif %}

            {% for i in projects.paginator.page_range %}
            {% if projects.number == i %}
            {% if current_design_style %}
            <a href="{% pageurl page %}{{ current_design_style.slug }}/page/{{ i }}/#projects-section" class="active">{{i}}</a>
            {% elif current_project_scale %}
            <a href="{% pageurl page %}{{ current_project_scale.slug }}/page/{{ i }}/#projects-section"
                class="active">{{ i }}</a>
            {% else %}
            <a href="{% pageurl page %}page/{{ i }}/#projects-section" class="active">{{ i }}</a>
            {% endif %}
            {% else %}
            {% if current_design_style %}
            <a href="{% pageurl page %}{{ current_design_style.slug }}/page/{{ i }}/#projects-section">{{ i }}</a>
            {% elif current_project_scale %}
            <a href="{% pageurl page %}{{ current_project_scale.slug }}/page/{{ i }}/#projects-section">{{ i }}</a>
            {% else %}
            <a href="{% pageurl page %}page/{{ i }}/#projects-section">{{ i }}</a>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if projects.has_next %}
            {% if current_design_style %}
            <a href="{% pageurl page %}{{ current_design_style.slug }}/page/{{ projects.next_page_number }}/#projects-section"
                class="projects-section__arrow">&#62;</a>
            {% elif current_project_scale %}
            <a href="{% pageurl page %}{{ current_project_scale.slug }}/page/{{ projects.next_page_number }}/#projects-section"
                class="projects-section__arrow">&#62;</a>
            {% else %}
            <a href="{% pageurl page %}page/{{ projects.next_page_number }}/#projects-section"
                class="projects-section__arrow">&#62;</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/project-filter-dropdown.js' %}"></script>
<script src="{% static 'js/project-list.js' %}"></script>
{% endblock %}